pipeline/MetadataDriven_pipeline.json
{
	"name": "MetadataDriven_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MetadataDriven_DestinationDB",
						"type": "DatasetReference",
						"parameters": {
							"schema": "etl",
							"table": "tControlMetadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "FullLoadOneObject",
							"description": "Take a full snapshot on this object and copy it to the destination",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "PipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "FilePath",
											"value": "$$FILEPATH"
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@json(item().SourceObjectSettings).folderPath",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@json(item().CopySourceSettings).wildcardFileName",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{json(item().CopySinkSettings).preCopyScript}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"validateDataConsistency": false,
								"dataIntegrationUnits": {
									"value": "@json(item().CopyActivitySettings).DIU",
									"type": "Expression"
								},
								"translator": {
									"value": "@json(item().CopyActivitySettings).translator",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "MetadataDriven_SourceFile",
									"type": "DatasetReference",
									"parameters": {
										"cw_columnDelimiter": {
											"value": "@json(item().SourceObjectSettings).columnDelimiter",
											"type": "Expression"
										},
										"cw_escapeChar": {
											"value": "@json(item().SourceObjectSettings).escapeChar",
											"type": "Expression"
										},
										"cw_quoteChar": {
											"value": "@json(item().SourceObjectSettings).quoteChar",
											"type": "Expression"
										},
										"cw_firstRowAsHeader": {
											"value": "@json(item().SourceObjectSettings).firstRowAsHeader",
											"type": "Expression"
										},
										"cw_fileName": {
											"value": "@json(item().SourceObjectSettings).fileName",
											"type": "Expression"
										},
										"cw_folderPath": {
											"value": "@json(item().SourceObjectSettings).folderPath",
											"type": "Expression"
										},
										"cw_fileSystem": {
											"value": "@json(item().SourceObjectSettings).fileSystem",
											"type": "Expression"
										},
										"cw_Encoding": {
											"value": "@json(item().SourceObjectSettings).Encoding",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "MetadataDriven_DestinationDB",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@json(item().SinkObjectSettings).schema",
											"type": "Expression"
										},
										"table": {
											"value": "@json(item().SinkObjectSettings).table",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "FullLoadOneObject",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[ins_copy_activity_log]",
								"storedProcedureParameters": {
									"copied_rows_number": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"copy_duration": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.copyDuration",
											"type": "Expression"
										},
										"type": "Double"
									},
									"duration": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.billingReference.billableDuration[0].duration",
											"type": "Expression"
										},
										"type": "Double"
									},
									"end_time": {
										"value": {
											"value": "@addSeconds(activity('FullLoadOneObject').output.executionDetails[0].start,activity('FullLoadOneObject').output.executionDetails[0].duration) ",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"files_number": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.filesRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"meter_type": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.billingReference.billableDuration[0].meterType",
											"type": "Expression"
										},
										"type": "String"
									},
									"parallel_copies_values": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.usedParallelCopies",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"queue_duration": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.executionDetails[0].profile.queue.duration",
											"type": "Expression"
										},
										"type": "Double"
									},
									"read_rows_number": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"start_time": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.executionDetails[0].start",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"status": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"transfer_duration": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.executionDetails[0].profile.transfer.duration",
											"type": "Expression"
										},
										"type": "Double"
									},
									"unit": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.billingReference.billableDuration[0].unit",
											"type": "Expression"
										},
										"type": "String"
									},
									"used_DIU": {
										"value": {
											"value": "@activity('FullLoadOneObject').output.executionDetails[0].usedDataIntegrationUnits",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azurementoringsql",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "FullLoadOneObject",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[ins_error_log]",
								"storedProcedureParameters": {
									"datetime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"error_code": {
										"value": {
											"value": "@activity('FullLoadOneObject').error.errorCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_message": {
										"value": {
											"value": "@activity('FullLoadOneObject').error.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"failure_type": {
										"value": {
											"value": "@activity('FullLoadOneObject').error.failureType",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azurementoringsql",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "custom_metadata_driven"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-28T21:21:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}