pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "send_email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "get_url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('get_url').output.value",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"message": "This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId} from data factory: @{pipeline().DataFactory}",
						"dataFactoryName": "",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@{pipeline().parameters.receiver}",
						"status": "success"
					}
				}
			},
			{
				"name": "get_url",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.logic_apps_html",
						"type": "Expression"
					},
					"method": "GET",
					"body": {
						"message": "This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}.",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@{pipeline().parameters.receiver}"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "send_email_error",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "send_email",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('get_url').output.value",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"message": "This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId} from data factory: @{pipeline().DataFactory}, error message: @{activity('send_email').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@{pipeline().parameters.receiver}",
						"status": "error"
					}
				}
			}
		],
		"parameters": {
			"receiver": {
				"type": "string",
				"defaultValue": "mykhailo_senchuk@epam.com"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-15T23:10:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}